<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            min-width: 800px;
            padding-top: 80px;
        }
        h1{
            color: steelblue!important;
            font-size: 12rem!important;
        }
        .buttonContainer{
            display: inline;
            float: left;
            margin-left: 23%;
            margin-top: 80px;
        }
        .admin{
            margin-top:90px;
        }
        .btn-primary{
            background-color: rgb(55,76,140) !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <img src="images/logo.png" alt=""><h1>Stalk.com</h1>

        <!-- Message -->
        <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- Login "Form" -->
        <div class="buttonContainer">
        <p>Login as user:</p>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
        </div>
        <p class="admin">Login as admin:</p>
        <a href="/admin/login" class="btn btn-default"><span class="fa fa-unlock-alt"></span> Local Login</a>

    </div>


</div>
</body>
</html>

