<!doctype html>
<html>
<head>
    <title>Facebook - Terms & Conditions</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <style>
        body {
            padding-top: 80px;
        }
        ul {
            text-align: left;
            margin-left: 15%;
            margin-top: 20px;
        }
        .card-action {
            margin-top: 30px !important;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <div class="card-content terms">
            <div>
                <h4>The exact elements to include depends on the individual business but you should consider
                    including:
                </h4>
                <ul>
                    <li>
                        • A clear definition of what products or services will be provided
                    </li>
                    <li>
                        • Setting out the payment terms – when is payment due
                    </li>
                    <li>
                        • Any guarantees or warranties offered
                    </li>
                    <li>
                        • Timelines for delivery and any queries
                    </li>
                    <li>
                        • Specifying what happens if either party doesn't deliver or pay or wants to end the
                        relationship
                    </li>
                    <li>
                        • The term of the agreement and what notice is required to get out of it
                    </li>
                    <li>
                        • Which law shall govern the contract</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-action">
            <a href="/">Decline</a>
            <a href="/terms_accepted">Accept</a>
        </div>
    </div>


</div>
</body>
</html>
