<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Node Authentication</title>
    <style>
        .wait {
            z-index: -1;
            position: absolute;
            left: 46%;
            top: 46%;
        }
        .waitHidden{
            position: absolute;
            width: 128px;
            height: 34px;
            left: 46%;
            top: 46%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="waitHidden"></div>
    <div class="wait"></div>
</div>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="javascript/loading.js"></script>
<script src="javascript/collision.js"></script>

</body>
</html>
