*,*::after,*::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    line-height: 1;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;
    overflow: hidden;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
Header
*/

.headerSettings {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none !important;
    box-shadow: none!important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    background-color: rgb(55, 76, 140) !important;
}

.logo {
    position: absolute;
    margin-left: -100px;
    margin-top: -70px;
    clip: rect(70px, 160px, 140px, 10px);
}

.inline{
    float: left;
    font-weight: bold;
    font-size: 1.3rem;
}
.rotate{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-top: 5px;
}

.blueBorder{
    position: absolute;
    width: 206px;
    height: 206px;
    top: 40%;
    left: 100px;

}

.profilePic{
    position: absolute;
    top: 40%;
    left: 100px;
    width:200px;
    border: solid 3px white;
    border-radius: 5px;
}


/*
Personal Stats
*/

.statsContainer{
    height:500px;
}

.bestPicture{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 30%;
    border: solid 3px rgb(55, 76, 140);
    border-radius: 5px;
}

.personalStats{
    padding-left:20px;
    padding-right:20px;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 50%;
    height:400px;
    border: solid 1px rgb(55, 76, 140);
    border-radius: 5px;
}

.section{
    padding-bottom: 0px !important;
}

.section>h5{
    color: grey;
    font-size: 1rem;
}

.section>p{
    font-size: 2rem;
}

/*
Graphs container
*/


.column {
    float: left;
    padding-bottom: 100px;
    padding-top: 20px;
    margin-left: 4%;
    width: 65% !important;
}

.portlet {
    border: solid 3px rgb(55, 76, 140) !important;
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    color: white !important;
    background: rgb(55, 76, 140) !important;
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}


.ui-icon {
    -webkit-filter: brightness(0) invert(1) !important ;
    filter: brightness(0) invert(1) !important;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.placeholder {
    width: 100%;
    height: 350px;
}

.flot-base{
    width: 100%;
}
/*
Page structure
*/


.containerMain {
    margin-top: 65px;
    display: flex;
    height: 100%;
}

.leftMain {
    width: 20%;
    min-width: 305px;
}

.centerMain {
    position: fixed;
    top :65px;
    background-color: rgb(55, 76, 140);
    height:100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 60%;
    min-width: 800px;
}

.wordCloudContainer{
    border: solid 1px black;
}

.graphContainer{
    margin-top: 20px;
    height:800px;
    width: 100%;
    border: solid 3px rgb(55, 76, 140);
    border-radius: 5px;
}

.frame{
    overflow: auto;
    position: fixed;
    padding: 20px;
    background-color: white;
    height: 100%;
    width: calc(60% - 10px);
    min-width:790px;
    border: solid 3px rgb(55, 76, 140);
    border-radius: 5px;
}

.rightMain {
    width: 20%;
}

.footer{
    background-color: rgb(55, 76, 140);
    width:100%;
    position: fixed;
    bottom:0;

}


#presets a { border-left: solid #666 1px; padding: 0 10px; }
#presets a.first { border-left: none; }
#keyword { width: 300px; }
#fetcher { width: 500px; }
#keyword, #go { font-size: 1.5em; }
#text { width: 100%; height: 100px; }
p.copy { font-size: small; }
#form { font-size: small; position: relative; }
hr { border: none; border-bottom: solid #ccc 1px; }
a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
#angles line, #angles path, #angles circle { stroke: #666; }
#angles text { fill: #333; }
#angles path.drag { fill: #666; cursor: move; }
#angles { text-align: center; margin: 0 auto; width: 350px; }
#angles input, #max { width: 42px; }